/* div {
	border: 1px red solid;
} */

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'caviar_dreamsregular', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x:hidden
}

a {
	color: #525463 !important;
}

.logo {
	height: 12vh;
	padding-top: 2vh;
	padding-bottom: 12vh;
	background-image: url(../img/logo.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.logo {
	height: 30vh;
	}

	.logo img {
	width: 70%;
	}
}

.logo-m {
	height: 12vh;
	padding-top: 2.5vh;
	background-image: url(../img/logo.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.logo-m {
		height: 20vh;
	}
}

@media only screen and (min-width: 64em) {
	.logo-m {
	height: 20vh;
	padding-top: 3vh;
	}
}

.top {
	margin: 0;
	padding: 0 0 0 0;
}

@media only screen  and (max-width: 39.938em) and (orientation: landscape) {
	.top {
		height: 17vh;
		padding: 0;
	}
}

@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.top {
		height: 20vh;
	}
}

@media only screen and (min-width: 48em) and (max-width: 63.938em) {
	.top {
		height: 11vh;
	}
}

@media only screen and (min-width: 64em) {
	.top {
	height: 20vh;
	margin: 0;
	padding: 0 0 1px 0;
	}
}

.greeting p {
	font-family: 'caviar_dreamsbold';
	height: 8vh;
	font-size: .8em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463;
}

@media only screen and (orientation: landscape) {
	.greeting p {
		height: 15vh;
		display: table-cell;
		vertical-align: bottom;
	}
}

.username {
	height: 12vh;
	padding: 0;
	margin: 0;
}
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.username {
		height: 20vh;
	}
}

.user {
	color: #eb6619 !important;
}

.profile-pic {
	height: 12vh;
	padding: 0;
	padding-top: 1vh;
	padding-left: 1px;
}

.profile-pic img {
	max-height: 12vh;
}

@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.profile-pic {
		height: 20vh;
	}
	.profile-pic img {
		max-height: 20vh;
	}
}

@media only screen and (min-width: 64em) {
	.profile-pic {
	height: 17vh;
	padding: 0;
	padding-top: 1vh;
	padding-left: 1px;
	}
}

@media only screen and (min-width: 64em) {
	.username {
	height: 20vh;
	padding: 0;
	margin: 0;
	}

	.user {
	color: #eb6619 !important;
	}

	.profile-pic {
	height: 20vh;
	padding: 0;
	padding-top: 5vh;
	padding-left: 1px;
	}
}

.greeting-m {
	height: 20vh;
	padding: 0;
	margin: 0;
	display: table-cell;
    vertical-align: bottom;
}

.greeting-m p {
	height: 9vh;
	font-size: 1.3em;
	display: table-cell;
    vertical-align: bottom;
}
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.greeting-m p {
		height: 18vh;
	}
}

@media only screen and (min-width: 64em) {
	.greeting-m p {
	height: 17vh;
	font-size: 1.3em;
	display: table-cell;
    vertical-align: bottom;
	}
}

.hidden-bar {
	/*display: none !important;*/
	padding: 0;
}

.opzioni {
	transform: translate(50px,10px);
}

@media only screen and (orientation: landscape) {
	.opzioni {
		transform: translate(95px,6px);
	}
}

.opzioni p {
	font-size: 0.7em;
    font-weight: 700;
    color: #535364;
    display: inline-block;
}

.hidden-menu {
	padding: 0;
    margin: -6px;
    display: -webkit-inline-box;
}

@media only screen and (orientation: landscape) {
	.hidden-menu {
		margin: -8px;
	    display: -webkit-inline-box;
	}
}

.hidden-menu-button {
	padding: 0;
	min-width: 53px;
}

@media only screen and (orientation: landscape) {
	.hidden-menu-button {
		max-width: 55px;
	}
}

.search {
	height: 12vh;
	vertical-align: center;
	background-color: #efefef;
	padding-top: 2vh;
}

@media only screen and (max-height: 47.938em) and (orientation: landscape) {
	.search {
		height: 17vh;
		margin: 2vh 0 0 0;
	}
}

@media only screen and (min-height: 48em) and (orientation: portrait) {
	.search {
		height: 5vh;
		padding-top: 6px;
	}
}

@media only screen and (min-height: 48em) and (orientation: landscape) {
	.search {
		height: 7vh;
		padding-top: 8px;
	}
}

.search-icon {
	transform: translate(-20px,-6px);
    margin: 0;
    padding: 0;
}

form {
	height: 12vh;
	width: 80vw;
	padding-left: 10vw;
}

.submit {
	background-color: #81818b;
	border-radius: 10px 0 0 10px;
	font-size: .8em;
	color: #525463;
	position: absolute;
	height: 1em;
	margin: 3px;
}

input[type=text] {
	height: 3em;
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #c6c6c6;
	font-size: .8em;
	padding-left: 10vw;
}

.over-map {
	padding: 0;
    position: absolute;
    z-index: 9;
}

@media only screen and (min-width: 40.063em) and (orientation: landscape) {
	.over-map {
	padding: 0;
    position: absolute;
    z-index: 9;
	}
}

.float-button {
	transform: translateX(6vh);
	padding: 0;
	margin: 0;
}

@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.float-button img {
		width: 50%
	}
}

.burger-menu {
	transform: translateX(-7vh);
}

.side-bar {
	padding: 0;
	margin: 0;
	-webkit-transform: rotate(270deg) translate(-28vh,59.8vw); 
	position: absolute;
	z-index: 10;
}

/*iphone 6 and 6plus side-bar */
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.side-bar {
		display: none !important;
	}
}

/*ipad landscape side-bar*/
@media only screen and (max-width: 64em) and (orientation: landscape) {
	.side-bar {
	height: 56px;
	padding: 0;
	margin: 0;
	-webkit-transform: rotate(270deg) translate(-20vh,70vw); 
	position: absolute;
	z-index: 10;
	}
}

/*small-desktop*/
@media only screen and (min-width: 64.01em) {
	.side-bar {
		-webkit-transform: rotate(270deg) translate(-24vh,73.7vw); 
	position: absolute;
	}
}

/*desktop side-bar*/
@media only screen and (min-width: 75em) {
	.side-bar {
	height: 56px;
	padding: 0;
	margin: 0;
	-webkit-transform: rotate(270deg) translate(-28vh,75vw); 
	position: absolute;
	z-index: 10;
	}
}

.chat-portrait {
	height: 74px;
	width: 77px;
	padding: 10px 0 0 0;
	margin: 0;
	-webkit-transform: rotate(90deg);
}

.chat-landscape {
	width: 54px;
	padding: 5px 0 0 0;
	margin: 0;
	-webkit-transform: rotate(90deg);
}

@media only screen and (min-width: 40em) and (orientation: landscape) {
	.chat {
	height: 64px;
    width: 62px;
    padding: 5px 0 0 0;
	margin: 0;
	-webkit-transform: rotate(90deg);
	}
}

@media only screen and (min-width: 64.063em) {
	.chat-landscape{
		width: 42px;
	    padding: 5px 0 0 0;
	    margin: 0;
	    -webkit-transform: rotate(90deg);
	}
}

@media only screen and (min-width: 65em) {
	.chat-landscape {
	width: 55px;
    padding: 6px 0 0 0;
	}
}

.side-page {
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #efefef;
	padding: 0;
	margin: 0 8px 0 0;
}

.side-page-title {
	font-family: 'caviar_dreamsbold';
	height: 6.8vh;
	font-size: 1.3em;
	display:
	  -webkit-box;
	  -webkit-box-pack: center;
	  -webkit-box-align:center;
	margin: 0;
	padding: 0;
}

.mapa {
	height: 60vh;
	padding: 0;
	margin-bottom: 3vh;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.mapa {
		height: 85vh;
	}
}

@media only screen and (min-width: 64.063em) {
	.mapa {
		height: 75vh;
	}
}

#mapdiv {
	padding: 0;
	width:100%;
	height: 60vh;
}

@media only screen and (min-width: 64.063em) {
	#mapdiv {
		height: 75vh;
	}
}

#map /*google*/ {
	padding: 0;
	height: 60vh;
	width: 100%;
	visibility:hidden;
}

@media only screen and (min-width: 64.063em) {
  	#map {
		height: 75vh;
	}
}

.posizione {
	/*display: none;*/
	background-color: #efefef;
	height: 3vh;
	margin-bottom: 4vh;
	font-size: .7em;
	padding-top: 9px;
	padding-left: 7vh;
}

@media only screen and (orientation: landscape) {
	.posizione {
	height: auto;
    padding-top: 11px;
    padding-left: 16vh;
	}
}

@media only screen and (max-width: 39.938em) {
	.posizione {
		height: auto;
		text-align: center;
	}
}

.world-icon img {
	margin-top: -5px;
    max-width: 24px;

}

.posizione-country {
	text-align: right;
	padding: 0;
	font-weight: 700;
}

@media only screen and (max-width: 39.938em) {
	.posizione-country {
		text-align: center;
	}
}

.posizione-address {
	width: 100%;
    text-align: left;
    padding: 0;
    float: none !important;
    padding-bottom: 1vh;
}

@media only screen and (max-width: 39.938em) {
	.posizione-address {
		text-align: center;
		display: table-cell;
	}
}

.page {
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #efefef;
	padding: 0;
	margin: 2px;
}

.page-m {
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #efefef;
	padding: 0;
	margin: 2px;
}

.page-title {
	font-family: 'caviar_dreamsbold';
	height: 8vh;
	font-size: 1.2em;
	display:
	  -webkit-box;
	  -webkit-box-pack: inherit;
	  -webkit-box-align:center;
	margin: 0;
}

/* iphone 6 and 6plus landscape*/
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.page-title {
		height: 10vh;
	}
}

/*small landscape*/
@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.page-title {
		height: 12vh;
	}
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
	.page-title {
	height: 5vh
	}
}

.camera-icon {
	-webkit-transform: translate(-4px,5px);
    margin: 0;
    padding-right: 12vw;
}

/*iphone 6 and 6 plus landscape*/
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.camera-icon {
		padding: 0 5vw 0 1vw;
	}
}

.social {
	background-color: #efefef;
	color: #525463;
	padding: 6vh 0 4vh 0;
	margin: 4vh 0 8vh 0;
	font-size: 1em;
}

.condividi {}

.hr {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

hr {
	width: 25vw;
	margin-left: 33vw;
}

.social-icons {
	font-size: 2em;
}

@media only screen and (min-width: 40.063em) {
	.social {
	background-color: #efefef;
	color: #525463;
	padding: 6vh 0 4vh 0;
	margin: 4vh 0 8vh 0;
	font-size: 1.2em;
	display: flex;
	}

	.condividi {
	padding: 0;
	margin: 0;
	height: 5vh;
	display:
	  -webkit-box;
	  -webkit-box-pack: center;
	  -webkit-box-align:center;
	}

	.divider {
	padding-left: 10vw;
	}

	.hr {
	padding: 0;
	margin: 0;
	width: 50px;
		-webkit-transform: rotate(90deg);
	}

	hr {
	width: 25vw;
	margin-left: 33vw;
	}

	.social-icons {
	font-size: 1.9em;
	}
}

.copyright {
	font-size: .8em;
	color: #525463;
	padding-bottom: 1vh;
}

@media only screen and (min-width: 40.063em) {
	.copyright {
	font-size: 1.2em;
	color: #525463;
	padding-bottom: 1vh;
	}
}

.viaggi {
	background-color: #FFFFFF;
	margin: 0;
	padding:0;
	padding-bottom: 1vh;
	margin-bottom: 1.5vh;
	border-bottom: 2px #c6c6c6 solid;
}

.viaggi-foto {
	padding: 2vh 0 0 0;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.viaggi-foto {
		margin-bottom: 2vh;
	}
}

.viaggi-foto-m {
	padding: 1vh 0 1vh 0;
}

/*iphone 6 and 6 plus landscape*/
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.viaggi-foto-m {
		padding: 2vh 0 2vh 2vh;
	}
}

.viaggi-info {
	height: 8vh;
	font-size: .8em;
	margin: 1vh 0 0 0;
	padding: 0;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.viaggi-info {
		height: 15vh;
	}
}

.viaggi-info-m {
	padding: 0;
	margin: 0;
}

.toucan {
	height: 8vh;
	margin: 0 0 0 1.5vh;
	padding: 0;
	background-image: url(../img/toucan.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* small landscape*/
@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.toucan {
		height: 15vh;
	}
}

/*iphone 6 and 6 plus landscape */
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.toucan {
		height: 19vh;
	}
}

@media only screen and (min-width: 48em) {
	.toucan {
	height: 10vh;
	margin: 0 0 0 1.5vh;
	padding: 0;
	background-image: url(../img/toucan.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	}
}

@media only screen and (min-width: 64em) {
	.toucan {
	height: 9vh;
	margin: 3vh 0 0 1.5vh;
	padding: 0;
	background-image: url(../img/toucan.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	}
}

.info-wrap {
	padding: 0;
	margin: 0;
}

.content {
	height: 4vh;
	margin: 0 -1.5vh 0 0;
	padding: 0;
}

.content-m {
	height: 4vh;
	margin: 0 -1.5vh 0 0;
	padding: 0;
	padding-top: 2vh;
}

@media only screen and (min-width: 64em) {
	.content-m {
	height: 14vh;
	margin: 0 -1.5vh 0 0;
	padding: 0;
	}
}

.guarda-viaggi {
	margin:  0;
	padding: 0;
}

.guarda-viaggi p {
	font-size: .9em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463
}

.guarda-viaggi-m {
	margin:  0;
	padding: 0;
}

.guarda-viaggi-m p {
	font-size: 1em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463
}

@media only screen and (min-width: 64em) {
	.guarda-viaggi-m {
	margin-top: 3vh;
	padding: 0;
	}
}

.hr2 {
	margin: 0;
	padding: 0;
	height: 4px;
	background-image: url(../img/hr.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.schedule {
	height: 4vh;
	margin: 0;
	padding: 0;
}

.schedule p {
	font-size: .9em;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.viaggi-social {
	height: 5vh;
    margin: -13.5px 9.5px 0px 19px;
    padding: 0;
    font-size: 1.1em;
    color: #525463;
    border: 2px #c6c6c6 solid;
}

@media only screen and (max-width: 39.938em) and (orientation:landscape) {
	.viaggi-social {
	height: 11vh;
   	margin: 5.5px 9.5px 21px 19px;
    font-size: 1.6em;
	}
}

.viaggi-social-m {
	height: 5vh;
    margin: 1px 1px 0px 1px;
    padding: 0;
    font-size: 1.47em;
    color: #525463;
    border: 2px #c6c6c6 solid;
}

/*iphone 6 and 6 plus landscape*/
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.viaggi-social-m {
		height: 14vh;
	}
}

@media only screen and (min-width: 64em) {
	.viaggi-social-m {
	height: 5vh;
    margin: 1px 1px 0px 1px;
    padding: 0;
    font-size: 1.5em;
    color: #525463;
    border: 2px #c6c6c6 solid;
	}
}

.viaggi-location {
	height: 8vh;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.viaggi-location {
		height: 18vh;
	}
}

.viaggi-location-m {
	height: 4vh;
}

/*iphone 6 and 6 plus landscape*/
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.viaggi-location-m  {
		height: 12vh;
		font-size: .8em;
	}
}

@media only screen and (min-width: 64em) {
	.viaggi-location-m {
	height: 8vh;
	}
}

.user-location {
	height: 8vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/user-location.svg);
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: left;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.user-location {
		height: 18vh;
		background-size: 70%;
	}
}

.user-location-m {
	height: 6vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/user-location.svg);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

@media only screen and (orientation: portrait) {
	.user-location-m {
		height: 4vh;
	}
}


/*iphone 6 and 6 plus landscape*/
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.user-location-m{
	height: 11vh;
}
}

.text-location {
	margin:  0;
	padding: 0;
	display: inline-flex;
	font-size: .8em;
	display: table-cell;
	vertical-align: bottom;
	padding-top: 2vh;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.text-location {
		height: 18vh;
	}
	.text-location p {
	height: 12vh;
	display: table-cell;
    vertical-align: bottom;
	}
}

.text-location p {
	font-size: .8em;
	margin: 0;
	padding: 0;
}

.text-location-m {
	margin:  0;
	padding: 15px 0 0 0;
	display: inline-flex;
	font-size: .9em;
	display: table-cell;
	vertical-align: bottom;
}

.text-location-m p {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

.pais, .ciudad {
	padding: 0;
	display: -webkit-inline-box;
}

.more {
	font-size: 1.3em;
	padding: 0 20px 10px 0;
	margin: 0;
	font-family: 'caviar_dreamsbold';
}

.more a {
	color: #51ae32 !important;
}

/*----------------------------------AMICI--------------------------------*/

.amici-m-wrapper {
	padding: 0;
}

.amici {
	background-color: #FFFFFF;
	margin: 0;
	padding:0;
	padding-bottom: 1vh;
	margin-bottom: 1.5vh;
	border-bottom: 2px #c6c6c6 solid;
}

.amici-profile {
	height: 6vh;
	padding: 0;
	margin: 2vh 0 1vh 0;
}

/*iphone 6 and 6 plus landscape*/
@media only screen and (min-width: 40em) and (max-width: 47.938em) {
	.amici-profile {
		padding-top: 1.5vh;
	}
}

@media only screen and (max-width: 39.398em) and (orientation: landscape) {
	.amici-profile {
		height: 10vh;
		margin: 2vh 0 4vh 0;
	}
}

@media only screen and (min-width: 48em) {
.amici-profile {
	height: 10vh;
	padding: 0;
	margin: 0;
}
 }

.amici-profile-pic {
	height: 6vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/profileironman.png);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 39.398em) and (orientation: landscape) {
	.amici-profile-pic {
		height: 11vh;
		background-position: right;
	}
}

@media only screen and (min-width: 40.063em) {
	.amici-profile-pic {
	height: 10vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/profileironman.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
 }

.amici-username {
	height: 6vh;
	font-size: .8em;
	display: table;
    vertical-align: bottom;
    color: #525463;
}

@media only screen and (max-width: 39.938em) and (orientation: landscape) {
	.amici-username {
		height: 10vh;
	}
}

.amici-username p {
	display: table-cell;
	vertical-align: bottom;
}

@media only screen and (min-width: 40.063em) {
	.amici-username {
	height: 7vh;
	font-size: 1.2em;
	display: table;
    vertical-align: bottom;
    color: #525463;
}

.amici-username p {
	font-size: 1.2em;
	display: table-cell;
	vertical-align: bottom;
}
 }


.amici-foto {
	padding: 0;
}

.guarda-profilo {
	margin:  0;
	padding: 0;
}

.guarda-profilo p {
	font-size: .9em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463
}

.reel {
	height: 60px;
	color: #525463;
	font-size: 2em;
	margin: 1vh 0 0 0;
	padding: 0;
	border: 2px #c6c6c6 solid;
}

.reel img {
	padding-left: 5px;
}

.torna {
	margin-top: 4vh;
	margin-bottom: 4vh;
	font-size: 1.2em;
	text-align: center;
}

.torna img {
	padding-right: 5px;
}

@media only screen and (min-width: 40em) {
	.torna {
		text-align: left;
		padding-left: 9vw;
	}
}

.esperienza {
	padding: 0;

}

.esperienza-title {
	border: 2px #525463 solid;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 0;
    margin: 2px;
    font-size: .7em;
    font-weight: 700;
    color: #51ae32;
    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
}

@media only screen and (min-width: 40em) {
	.esperienza-title {
		font-size: 1.3em;
	}
}

.edit {
	margin: -2px;
    transform: translateX(28px);
}

.dates {
	padding: 0;
	margin-bottom: 4vh;
}

@media only screen and (min-width: 40em) {
	.dates {
		padding-left: 1vw;
	}
}

.date-orange {
	font-size: .9em;
	color: #eb6619;
	margin: 0;
}

@media only screen and (min-width: 40em) {
	.date-orange {
		font-size: 1em;
	}
}

.trip-date {
	padding: 0;
	font-size: .7em;
	text-align: center;
}

@media only screen and (max-width: 39.938em) {
	.trip-date {
			display: -webkit-box;
	    -webkit-box-pack: center;
	}
}

@media only screen and (min-width: 40em) {
	.trip-date {
		font-size: 1em;
		display: -webkit-box;
	}
}

.publish-date {
	padding: 0;
	font-size: .7em;
	text-align: center;
}

@media only screen and (min-width: 40em) {
	.publish-date {
		font-size: 1em;
		text-align: right;
	}
}

.descrizione {
	border: 2px #525463 solid;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 0;
    font-size: .7em;
}

@media only screen and (min-width: 40em) {
	.descrizione {
		font-size: 1em
	}
}

.descrizione-top {
	padding: 0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	background-color: #c6c6c6;
	height: auto;
	padding-bottom: 2vh;
}

.star {
	padding: 11px 0 0 5px;
}

.star img {
	margin-top: -5px;
    max-width: 20px;
}

.descrizione-dropdown {
	padding: 14px 6px 0 0;
	text-align: right;
	margin-top: -5px;
    max-width: 20px;
}

.keyword {
	padding: 15px 10px 15px 10px;
    font-size: .9em;
    border-bottom: 1px #c6c6c6 solid;
    color: #51ae32;
}

.keyword p {
	border: 1px #c6c6c6 solid;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}

.descrizione-text {
	padding: 15px;
	font-size: .9em;
	text-align: justify;
}

.informazione {
	border: 2px #525463 solid;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 0;
    font-size: .7em;
    padding-bottom: 2vh;
}

@media only screen and (min-width: 40em) {
	.informazione {
		font-size: 1em
	}
}

.informazione-top {
	padding: 0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	background-color: #c6c6c6;
	height: auto;
	padding-bottom: 2vh;
}

.info {
	padding: 11px 0 0 5px;
}

.info img {
	margin-top: -5px;
    max-width: 20px;
}

.informazione-dropdown {
	padding: 14px 6px 0 0;
	text-align: right;
	margin-top: -5px;
    max-width: 20px;
}

.dati-generali {
	font-size: .9em;
}

@media only screen and (min-width: 40em) {
	.dati-generali {
		font-size: .8em
	}
}

.dati-generali span {
	color: #535364;
}

.d-title {
	padding: 4vh 0 2vh 0;
	border-bottom: 1px #c6c6c6 solid;
}

.d-topic {
	padding: 1vh 0 0 0;
	font-size: .9em;
	color: #eb6619;
	margin: 0;
}

.dati-viaggio {
	font-size: .9em;
}

@media only screen and (min-width: 40em) {
	.dati-viaggio {
		font-size: .8em
	}
}

.dati-viaggio span {
	color: #535364;
}

.altre-informazioni {
	font-size: .9em;
}

@media only screen and (min-width: 40em) {
	.altre-informazioni {
		font-size: .8em
	}
}

.altre-informazioni span {
	color: #535364;
}

.d-places {
	padding: 1vh 0 0 0;
	font-size: .9em;
	border-bottom: 1px #c6c6c6 solid;
}

.plus {
	padding: 3px 0 0 0;
	max-width: 9px;
}

.plus-last {
	float: left !important;
}

.aggiungi {
	padding: 0;
	margin: 3vh 0 1vh 0;
}

.aggiungi span {
	padding:5px;
	margin: 1vh 0 1vh 0;
	border: 1px #c6c6c6 solid;
	border-radius: 5px;
	color: #51ae32;
}

.oggetti-text {
	padding: 1vh 0 0 0;
	font-size: .9em;
	text-align: justify;
}

.gallery {
	border: 2px #525463 solid;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 0;
    font-size: .7em;
}

@media only screen and (min-width: 40em) {
	.gallery {
		font-size: 1em;
	}
}

.gallery-top {
	padding: 0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	background-color: #c6c6c6;
	height: auto;
	padding-bottom: 2vh;
}

.camera {
	padding: 11px 0 0 5px;
}

.camera img {
	margin-top: -5px;
    max-width: 20px;
}

.gallery-dropdown {
	padding: 14px 6px 0 0;
	text-align: right;
	margin-top: -5px;
    max-width: 20px;
}

.gallery-title {
	padding: 2vh 0 1vh 3vh;
	color: #535364;
}

.gallery-title span {
	color: #ec661c;
}

.gallery-wrap {
	padding: 0;
}

@media only screen and (min-width: 40em) {
	.gallery-wrap {
		padding: 0 2vw 0 2vw;
	}
}

.photo {
	padding: 1vh 2vh 1vh 2vh;
}

@media only screen and (min-width: 40em) {
	.photo {
		padding: 1vh 1vw 1vh 1vw;
	}
}

.load-more {
	margin: 4vh 0 4vh 0;
}

.load-more span {
	color: #FFFFFF;
	background-color: #51ae32;
	border-radius: 5px;
	padding: 8px;
}

@media only screen and (min-width: 40em) {
	.load-more {
		margin-right: 2vh 0 2vh 0;
	}
	.load-more span {
		font-size: .8em;
	}
}