/* div {
	border: 1px red solid;
} */

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'caviar_dreamsregular', sans-serif;
  padding: 0;
  margin: 0;
}

a {
	color: #525463 !important;
}

.logo {
	height: 12vh;
	padding-top: 2vh;
	padding-bottom: 12vh;
}

.logo-m {
	height: 12vh;
	padding-top: 2.5vh;
}

@media only screen and (min-width: 64em) {
	.logo-m {
	height: 20vh;
	padding-top: 3vh;
	}
}

.top {
	height: 11vh;
	margin: 0;
	padding: 0 0 0 0;
}

@media only screen and (min-width: 64em) {
	.top {
	height: 20vh;
	margin: 0;
	padding: 0 0 1px 0;
	}
}

.greeting p {
	font-family: 'caviar_dreamsbold';
	height: 8vh;
	font-size: .8em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463;
}

.username {
	height: 12vh;
	padding: 0;
	margin: 0;
}

.user {
	color: #eb6619 !important;
}

.profile-pic {
	height: 12vh;
	padding: 0;
	padding-top: 1vh;
	padding-left: 1px;
}

@media only screen and (min-width: 64em) {
	.profile-pic {
	height: 17vh;
	padding: 0;
	padding-top: 1vh;
	padding-left: 1px;
	}
}

@media only screen and (min-width: 64em) {
	.username {
	height: 20vh;
	padding: 0;
	margin: 0;
	}

	.user {
	color: #eb6619 !important;
	}

	.profile-pic {
	height: 20vh;
	padding: 0;
	padding-top: 5vh;
	padding-left: 1px;
	}
}

.greeting-m {
	height: 20vh;
	padding: 0;
	margin: 0;
	display: table-cell;
    vertical-align: bottom;
}

.greeting-m p {
	height: 9vh;
	font-size: 1.3em;
	display: table-cell;
    vertical-align: bottom;
}

@media only screen and (min-width: 64em) {
	.greeting-m p {
	height: 17vh;
	font-size: 1.3em;
	display: table-cell;
    vertical-align: bottom;
	}
}

.search {
	height: 12vh;
	vertical-align: center;
	background-color: #efefef;
	padding-top: 2vh;
}

.search-icon {
	transform: translate(-20px,-6px);
    margin: 0;
    padding: 0;
}

form {
	height: 12vh;
	width: 80vw;
	padding-left: 10vw;
}

.submit {
	background-color: #81818b;
	border-radius: 10px 0 0 10px;
	font-size: .8em;
	color: #525463;
	position: absolute;
	height: 1em;
	margin: 3px;
}

input[type=text] {
	height: 3em;
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #c6c6c6;
	font-size: .8em;
	padding-left: 10vw;
}

.over-map {
	padding: 0;
    transform: translatey(11vh);
    height: 72vh;
    position: absolute;
    z-index: 9;
}

@media only screen and (min-width: 40.063em) and (orientation: landscape) {
	.over-map {
	padding: 0;
    transform: translatey(20vh);
    height: 72vh;
    position: absolute;
    z-index: 9;
	}
}

.float-button {
	padding: 0;
	margin: 0;
}

.side-bar {
	padding: 0;
	margin: 0;
	transform: rotate(270deg) translate(-28vh,61.8vw); 
	position: absolute;
	z-index: 10;
}

@media only screen and (min-width: 40.063em) and (orientation: landscape) {
	.side-bar {
	height: 56px;
	padding: 0;
	margin: 0;
	transform: rotate(270deg) translate(-24vh,71.6vw); 
	position: absolute;
	z-index: 10;
	}
}

@media only screen and (min-width: 64.063em) and (orientation: landscape) {
	.side-bar {
	height: 56px;
	padding: 0;
	margin: 0;
	transform: rotate(270deg) translate(-28vh,79.5vw); 
	position: absolute;
	z-index: 10;
	}
}

.chat-portrait {
	height: 74px;
	width: 77px;
	padding: 10px 0 0 0;
	margin: 0;
	transform: rotate(90deg);
}

.chat-landscape {
	width: 54px;
	padding: 5px 0 0 0;
	margin: 0;
	transform: rotate(90deg);
}

@media only screen and (min-width: 40em) and (orientation: landscape) {
	.chat {
	height: 64px;
    width: 62px;
    padding: 5px 0 0 0;
	margin: 0;
	transform: rotate(90deg);
	}
}

.side-page {
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #efefef;
	padding: 0;
	margin: 0 8px 0 0;
}

.side-page-title {
	font-family: 'caviar_dreamsbold';
	height: 6.8vh;
	font-size: 1.3em;
	display:
	  -webkit-box;
	  -webkit-box-pack: center;
	  -webkit-box-align:center;
	margin: 0;
	padding: 0;
}

.mapa-small {
	height: 60vh;
	background-image: url(../img/mapasmall.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 4vh;
	padding: 0;
}

.mapa-large {
	height: 65vh;
	background-image: url(../img/mapalarge.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 4vh;
	padding: 0;
}

.page {
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #efefef;
	padding: 0;
	margin: 2px;
}

.page-m {
	border: 3px #525463 solid;
	border-radius: 15px;
	background-color: #efefef;
	padding: 0;
	margin: 2px;
}

.page-title {
	font-family: 'caviar_dreamsbold';
	height: 8vh;
	font-size: 1.2em;
	display:
	  -webkit-box;
	  -webkit-box-pack: inherit;
	  -webkit-box-align:center;
	margin: 0;
}

.camera-icon {
	transform: translate(-4px,5px);
    margin: 0;
    padding-right: 12vw;
}

.social {
	background-color: #efefef;
	color: #525463;
	padding: 6vh 0 4vh 0;
	margin: 4vh 0 8vh 0;
	font-size: 1em;
}

.condividi {}

.hr {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

hr {
	width: 25vw;
	margin-left: 33vw;
}

.social-icons {
	font-size: 2em;
}

@media only screen and (min-width: 40.063em) {
	.social {
	background-color: #efefef;
	color: #525463;
	padding: 6vh 0 4vh 0;
	margin: 4vh 0 8vh 0;
	font-size: 1.2em;
	display: flex;
	}

	.condividi {
	padding: 0;
	margin: 0;
	height: 5vh;
	display:
	  -webkit-box;
	  -webkit-box-pack: center;
	  -webkit-box-align:center;
	}

	.divider {
	padding-left: 10vw;
	}

	.hr {
	padding: 0;
	margin: 0;
	width: 50px;
		transform: rotate(90deg);
	}

	hr {
	width: 25vw;
	margin-left: 33vw;
	}

	.social-icons {
	font-size: 1.9em;
	}
}

.copyright {
	font-size: .8em;
	color: #525463;
	padding-bottom: 1vh;
}

@media only screen and (min-width: 40.063em) {
	.copyright {
	font-size: 1.2em;
	color: #525463;
	padding-bottom: 1vh;
	}
}

.viaggi {
	background-color: #FFFFFF;
	margin: 0;
	padding:0;
	padding-bottom: 1vh;
	margin-bottom: 1.5vh;
	border-bottom: 2px #c6c6c6 solid;
}

.viaggi-foto {
	padding: 2vh 0 0 0;
}

.viaggi-foto-m {
	padding: 1vh 0 1vh 0;
}

.viaggi-info {
	height: 8vh;
	font-size: .8em;
	margin: 1vh 0 0 0;
	padding: 0;
}

.viaggi-info-m {
	padding: 0;
	margin: 0;
}

.toucan {
	height: 8vh;
	margin: 0 0 0 1.5vh;
	padding: 0;
	background-image: url(../img/toucan.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (min-width: 40.063em) {
	.toucan {
	height: 10vh;
	margin: 0 0 0 1.5vh;
	padding: 0;
	background-image: url(../img/toucan.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	}
}

@media only screen and (min-width: 64em) {
	.toucan {
	height: 9vh;
	margin: 3vh 0 0 1.5vh;
	padding: 0;
	background-image: url(../img/toucan.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	}
}

.info-wrap {
	padding: 0;
	margin: 0;
}

.content {
	height: 4vh;
	margin: 0 -1.5vh 0 0;
	padding: 0;
}

.content-m {
	height: 4vh;
	margin: 0 -1.5vh 0 0;
	padding: 0;
	padding-top: 2vh;
}

@media only screen and (min-width: 64em) {
	.content-m {
	height: 14vh;
	margin: 0 -1.5vh 0 0;
	padding: 0;
	}
}

.guarda-viaggi {
	margin:  0;
	padding: 0;
}

.guarda-viaggi p {
	font-size: .9em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463
}

.guarda-viaggi-m {
	margin:  0;
	padding: 0;
}

.guarda-viaggi-m p {
	font-size: 1em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463
}

@media only screen and (min-width: 64em) {
	.guarda-viaggi-m {
	margin-top: 3vh;
	padding: 0;
	}
}

.hr2 {
	margin: 0;
	padding: 0;
	height: 4px;
	background-image: url(../img/hr.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.schedule {
	height: 4vh;
	margin: 0;
	padding: 0;
}

.schedule p {
	font-size: .9em;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.viaggi-social {
	height: 5vh;
    margin: -13.5px 9.5px 0px 19px;
    padding: 0;
    font-size: 1.1em;
    color: #525463;
    border: 2px #c6c6c6 solid;
}

.viaggi-social-m {
	height: 5vh;
    margin: 1px 1px 0px 1px;
    padding: 0;
    font-size: 2em;
    color: #525463;
    border: 2px #c6c6c6 solid;
}

@media only screen and (min-width: 64em) {
	.viaggi-social-m {
	height: 5vh;
    margin: 1px 1px 0px 1px;
    padding: 0;
    font-size: 1.5em;
    color: #525463;
    border: 2px #c6c6c6 solid;
	}
}


.viaggi-location {
	height: 8vh;
}

.viaggi-location-m {
	height: 4vh;
}

@media only screen and (min-width: 64em) {
	.viaggi-location-m {
	height: 8vh;
	}
}

.user-location {
	height: 8vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/user-location.svg);
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: left;
}

.user-location-m {
	height: 4vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/user-location.svg);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.text-location {
	margin:  0;
	padding: 0;
	display: inline-flex;
	font-size: .8em;
	display: table-cell;
	vertical-align: bottom;
	padding-top: 2vh;
}

.text-location p {
	font-size: .8em;
	margin: 0;
	padding: 0;
}

.text-location-m {
	margin:  0;
	padding: 15px 0 0 0;
	display: inline-flex;
	font-size: .9em;
	display: table-cell;
	vertical-align: bottom;
}

.text-location-m p {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

.pais, .ciudad {
	padding: 0;
	display: -webkit-inline-box;
}

.more {
	font-size: 1.3em;
	padding: 0 20px 10px 0;
	margin: 0;
	font-family: 'caviar_dreamsbold';
}

.more a {
	color: #51ae32 !important;
}

/*----------------------------------AMICI--------------------------------*/

.amici-m-wrapper {
	padding: 0;
}

.amici {
	background-color: #FFFFFF;
	margin: 0;
	padding:0;
	padding-bottom: 1vh;
	margin-bottom: 1.5vh;
	border-bottom: 2px #c6c6c6 solid;
}

.amici-profile {
	height: 8vh;
	padding: 0;
	margin: 2vh 0 1vh 0;
}

@media only screen and (min-width: 40.063em) {
.amici-profile {
	height: 10vh;
	padding: 0;
	margin: 0;
}
 }

.amici-profile-pic {
	height: 3vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/profileironman.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 40.063em) {
	.amici-profile-pic {
	height: 10vh;
	margin: 0;
	padding: 0;
	background-image: url(../img/profileironman.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
 }

.amici-username {
	height: 3vh;
	font-size: .8em;
	display: table;
    vertical-align: bottom;
    color: #525463;
}

.amici-username p {
	display: table-cell;
	vertical-align: bottom;
}

@media only screen and (min-width: 40.063em) {
	.amici-username {
	height: 7vh;
	font-size: 1.2em;
	display: table;
    vertical-align: bottom;
    color: #525463;
}

.amici-username p {
	font-size: 1.2em;
	display: table-cell;
	vertical-align: bottom;
}
 }


.amici-foto {
	padding: 0;
}

.guarda-profilo {
	margin:  0;
	padding: 0;
}

.guarda-profilo p {
	font-size: .9em;
	display: table-cell;
    vertical-align: bottom;
    color: #525463
}

.reel {
	height: 60px;
	color: #525463;
	font-size: 2em;
	margin: 1vh 0 0 0;
	padding: 0;
	border: 2px #c6c6c6 solid;
}

.reel img {
	padding-left: 5px;
}









